body{

  background-color: #fff;
  }

#titre h1{
padding: 100px;
}

  .char1{
    color: #3f32fe;
    font-size: 120px;
   font-family: 'Rammetto One', cursive;
  }

  .char2{
  color : #3f32fe;
  font-size: 100px;
  }

  .char3 {
  color : #3f32fe;
  font-family: 'Oswald', sans-serif;
  font-size: 130px;
  }

  .char4 {
    color: #3f32fe;
    font-size: 110px;
    font-family: 'Rammetto One', cursive;
  }

  .char5 {
    color: #3f32fe;
    font-size: 120px;
  }

  .char6{
  color: #fff;
  font-size: 100px;
  font-family: 'Oswald', sans-serif;
  }


  .char7 {
    color: #3f32fe;
    font-size: 120px;
    font-family: 'Rammetto One', cursive;
  }

  .char8 {
    color: #3f32fe;
    font-size: 120px;
  }

  .char9 {
    color: #3f32fe;
    font-size: 120px;
   font-family: 'Rammetto One', cursive;
  }

  .char10 {
    color : #3f32fe;
    font-size: 100px;
  }


  .char11 {
  color : #3f32fe;
  font-family: 'Oswald', sans-serif;
  font-size: 130px;
  }

  .char12 {
    color: #3f32fe;
    font-size: 110px;
    font-family: 'Rammetto One', cursive;
  }

  .char13{
  color: #3f32fe;
  font-size: 80px;
  font-family: 'Oswald', sans-serif;
  }

  .char14 {
    color: #3f32fe;
    font-size: 120px;
  }

  .char15{
    color: #3f32fe;
    font-size: 120px;
   font-family: 'Rammetto One', cursive;
  }

  .char16{
  color :#3f32fe;
  font-size: 100px;
  }

  .char17 {
  color : #3f32fe;
  font-family: 'Oswald', sans-serif;
  font-size: 130px;
  }


  .gallery {
  justify-content: center;
  align-items: center;

  }



.Clara p{
  font-family: 'Abril Fatface', cursive;
}



h2{
font-family: 'Poppins', sans-serif;
font-size: 12pt;
color: #ffff;
margin-left: 90px;
}

p{
font-family: 'Poppins', sans-serif;
}

h1{
  font-family: 'Poppins', sans-serif;
  font-size: 20pt;
  color: #ffff;
  text-align: center;
}


#com h3 {
  color: #F7D946;
}

}
h3{
font-size: 7pt;
padding: 6px;
}

h2 {
color: #fff;
}

.des {
text-align: left;
}


#comp{
  background-color:#3f32fe;
  padding: 20px;


  color: #fff;
    display: flex;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    min-height: 10vh;
    margin-top: 200px;


}

#comp h1{
  padding-left: 1px;
  padding-top: 300px;
  padding: 3px;
  margin : 12px;
  color: #ffda10;
}



.sp img{

background-image: url(images/p1.jpg);
background-repeat: no-repeat;
background-position: left;
margin: 12px;
color: #F7D946;
}


.des img{
  background-repeat: no-repeat;
  background-position: center;
  margin: 12px;
}
.des{
  text-align:60px;
}

.cook img {
margin: 12px;
}


#port{
  padding-left: 1px;
  padding-top: 10px;
  background-color:#fff;
  color: #000;
  align-content: center;

    background-repeat: no-repeat;
    background-size: cover;
  background-color:#fff;
  padding: 70px;
  min-height: 20px;
}

.portfolio-content {
 display: flex;
 flex-wrap: wrap;
}

.photos{

}

.portfolio1-item {
  margin: 12px;
}




#port2{
  background-color:#000;
  color: ##ffda10;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
  background-color:#d;
  padding: 1px;
}

.portfolio4{
}

.portfolio5{
}

.portfolio6{
}

#contact{
  background-color:#000;
  color: #fff;
  padding: 40px;
  padding-bottom: 20px;

}

#contact h1{
  text-align: left;
  color: #fff;
}


header {

    background-image: url(images/mot.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    display: flex;

    justify-content: left;
    font-size: 25pt;
    color:  #ffda10;
    align-items: center;
    background-color: #fff;
  }




h1 {

margin-top: -8px;
}
